.Favorites {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.Favorites h1 {
  font-weight: 400;
  font-size: 32px;
}

.Favorites .add-exercise-button {
  background-color: #E53935;
  position: fixed;
  margin-top: 12px;
  bottom: 80px;
  right: 20px;
  /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}