.Favorites .content-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.Favorites .success-banner {
  box-sizing: border-box;
  display: grid;
  position: fixed;
  align-items: center;
  justify-items: center;
  text-align: center;
  word-break: break-all;
  padding: 0 10px;
  overflow: hidden;
  background-color: #02ee7d;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  transition: all 1s ease;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 4;
}

.Favorites h2 {
  font-size: 28px;
  font-weight: 600;
  padding-top: 20px;
}

.Favorites .workouts .workout-title {
  border-bottom: 1px #ddd solid;
  font-size: 20px;
  font-weight: 600;
}

.Favorites .workouts .workout-label {
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

.Favorites .workout-group {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 24px;
}

.Favorites .workout-group.editing {
  grid-template-columns: 60px 1fr;
  height: 48px;
  margin-bottom: 5px;
}

.Favorites .workout-group .delete-button {
  background: var(--main-red-color);
  color: #fff;
  padding: 0;
  margin-bottom: 5px;
}