.Favorites .workouts .workout-group-heading {
  position: relative;
  margin: 20px 0 5px 0;
}

.Favorites .workouts input:focus~.input-border:before, .Favorites .workouts input:focus~.input-border:after {
  width: 50%;
  -webkit-transition: 0.3s cubic-bezier(0.4, 0, .2, 1) all;
  transition: 0.3s cubic-bezier(0.4, 0, .2, 1) all;
}

.Favorites .workouts .input-border:before, .Favorites .workouts .input-border:after {
  background: #4285f4;
  bottom: 0;
  content: '';
  height: 2px;
  position: absolute;
  width: 0;
}

.Favorites .workouts .input-border:before {
  left: 50%;
}

.Favorites .workouts .input-border:after {
  right: 50%;
}

.Favorites .workouts .workout-title {
  color: var(--main-txt-color);
  background: var(--main-bg-color);
  border-bottom: 1px var(--secondary-border-color) solid;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
}

.Favorites .workouts .workout-title.editing {
  padding: 5px;
  border: 0;
}

.Favorites .workout-names {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  height: 24px;
}

.Favorites .workout-names.editing {
  grid-template-columns: 60px 1fr;
  height: 48px;
  margin-bottom: 5px;
}

.Favorites .workout-names .delete-button {
  background: var(--main-red-color);
  color: var(--tertiary-txt-color);
  padding: 0;
  margin-bottom: 5px;
}
