.FavoritesModal {
  position: fixed;
  bottom: 80px;
  right: 20px;
}

.FavoritesModal .content {
  display: none;
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  bottom: 55px;
  right: 30px;
  z-index: 1;
  height: 400px;
  width: 300px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #000;
}

.FavoritesModal .content .close {
  font-size: 22px;
}

.FavoritesModal .show {
  display: grid; 
}

.FavoritesModal .save-exercise-button {
  background-color: #dddddd;
}

.FavoritesModal .metric {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px 0;
}

.FavoritesModal .Fab.mdc-fab {
  position: absolute;
  right: 0;
  bottom: 0;
}
