.FavoritesModal {
  position: fixed;
  bottom: 80px;
  right: 20px;
}

.FavoritesModal .content {
  display: none;
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  bottom: 55px;
  right: 30px;
  z-index: 1;
  height: 400px;
  width: 300px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #ddd;
}

.FavoritesModal .content .close {
  font-size: 22px;
}

.FavoritesModal .show {
  display: grid;
  grid-template-rows: 30px 1fr 1fr 1fr;
}

.FavoritesModal .label {
  font-size: 18px;
  font-weight: 600;
}

.FavoritesModal .type .label {
  margin-bottom: 5px;
}

.FavoritesModal .save-exercise-button {
  background-color: #dddddd;
  color: #000;
  font-weight: 600;
  margin-top: 20px;
}

.FavoritesModal .metric {
  display: grid;
  margin: 10px 0;
}

.FavoritesModal .metric .options {
  display: grid;
}

.FavoritesModal .Fab.mdc-fab {
  position: absolute;
  right: 0;
  bottom: 0;
}
