.FavoritesModal {
  position: fixed;
  bottom: 80px;
  right: 20px;
}

.FavoritesModal .content {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  padding: 20px;
  position: absolute;
  bottom: 55px;
  right: 30px;
  z-index: 1;
  height: 55vh;
  width: 75vw;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  transform: scale(0.8);
  opacity: 0;
  /* will-change: transform,opacity; */
  visibility: hidden;
}

.FavoritesModal .show {
  display: grid;
  grid-template-rows: 30px 1fr 1fr 1fr;
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.1s ease-out,
    transform 0.1s ease-out;
  visibility: visible;
}

.FavoritesModal .content .close {
  font-size: 22px;
}

.FavoritesModal .label {
  font-size: 18px;
  font-weight: 600;
}

.FavoritesModal .type .label {
  margin-bottom: 5px;
}

.FavoritesModal .save-workout-button {
  background-color: #dddddd;
  color: #000;
  font-weight: 600;
  margin-top: 20px;
}

.FavoritesModal .metric {
  display: grid;
  margin: 10px 0;
}

.FavoritesModal .metric .options {
  display: grid;
}

.FavoritesModal .Fab.mdc-fab {
  position: absolute;
  right: 0;
  bottom: 0;
}
