.Fab.mdc-fab {
  color: #fff;
  background-color: var(--main-red-color);
  position: fixed;
  margin-top: 12px;
  bottom: 80px;
  right: 20px;
  z-index: 999 !important;
  /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}
