.Fab.mdc-fab {
  color: #58b6f4;
  background-color: #13131e;
  position: fixed;
  margin-top: 12px;
  bottom: 80px;
  right: 20px;
  z-index: 999 !important;
  /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}
