.RoutineDayPicker {
  border-bottom: 1px #ddd solid;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
  height: 60px;
}

.RoutineDayPicker .routine-day {
  display: grid;
  justify-items: center;
  align-items: center; 
  color: #000;
  font-size: 12px;
  width: 30px;
  height: 30px;
  border-radius: 60px;
}

.RoutineDayPicker .routine-day.active {
  color: #fff;
  background: #13131e;
  font-size: 16px;
  font-weight: 300;
  width: 35px;
  height: 35px;
  border-radius: 70px;
}

.RoutineDayPicker .routine-day.today {
  color: #58b6f4;
}