.RoutineDayPicker {
  border-bottom: 1px var(--main-border-color) solid;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
  height: 60px;
}

.RoutineDayPicker .routine-day {
  display: grid;
  justify-items: center;
  align-items: center; 
  color: var(--main-txt-color);
  font-size: 12px;
  width: 30px;
  height: 30px;
  border-radius: 60px;
}

.RoutineDayPicker .routine-day.active {
  color: var(--tertiary-txt-color);
  background: var(--tertiary-bg-color);
  font-size: 16px;
  font-weight: 300;
  width: 35px;
  height: 35px;
  border-radius: 70px;
}

.RoutineDayPicker .routine-day.today.active {
  color: var(--tertiary-txt-color);
  background: var(--main-red-color);
}

.RoutineDayPicker .routine-day.today {
  color: var(--main-red-color);
}