.Progress {
  position: relative;
  height: 80vh;
  width: 90vw;
  margin: auto;
}

.Progress #progress-workouts-by-month {
  padding-bottom: 80px;
}

.Progress #progress-workouts-by-weight {
  margin-bottom: 80px;
}

.Progress .workout-group {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 40px;
  grid-gap: 5px;
  justify-items: center;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-top: 70px;
}

.Progress .workout-group .group-name {
  /* border: 1px dotted red; */
  display: inline-block;
  background: var(--tertiary-bg-color);
  color: var(--tertiary-txt-color);
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 100px;
}

.Progress .workout-group .group-name.selected {
  background: var(--main-red-color);
}