.MotivationVideos .motivation-video {
  margin-bottom: 20px;
}

.MotivationVideos a {
  color: var(--main-link-color);
  text-decoration: none;
}

.MotivationVideos a:visited {
  color: var(--main-link-color);
}

.MotivationVideos .embedded {
  margin-top: 10px;
  display: none;
}

.MotivationVideos .embedded.visible {
  display: block;
}

/* Apple Watch */
@media only screen and (max-width: 319px) {

  .MotivationVideos {
    display: none;
  }
}
