.RoutineModal {
  position: fixed;
  bottom: 80px;
  right: 20px;
}

.RoutineModal .content {
  display: none;
  box-sizing: border-box;
  position: absolute;
  bottom: 55px;
  right: 30px;
  z-index: 1;
  height: 400px;
  width: 300px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-overflow-scrolling: touch;
}

.RoutineModal .content .close {
  font-size: 22px;
}

.RoutineModal .show {
  display: block; 
}

.RoutineModal .Fab.mdc-fab {
  position: absolute;
  right: 0;
  bottom: 0;
}

.RoutineModal .exercises .exercise-label, .RoutineModal .exercises h3 {
  border-bottom: 1px #ddd solid;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.RoutineModal .exercises h3 {
  background: #fafafa;
}

.RoutineModal .description {
  box-sizing: border-box;
  display: grid;
  padding: 20px;
  justify-items: center;
  height: 100%;
}

.RoutineModal .description .message {
  color: #757575;
  align-self: end;
  margin-bottom: 30px;
}

.RoutineModal .description .link-favorites {
  color: #D32F2F;
}