.RoutineModal {
  position: fixed;
  bottom: 80px;
  right: 20px;
}

.RoutineModal .content {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
  position: absolute;
  bottom: 55px;
  right: 30px;
  z-index: 1;
  height: 50vh;
  width: 75vw;
  overflow: auto;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--main-border-color);
  -webkit-overflow-scrolling: touch;
  transform: scale(0.8);
  opacity: 0;
  /* will-change: transform,opacity; */
  visibility: hidden;
}

.RoutineModal .show {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity .03s linear,
    transform .12s cubic-bezier(0,0,.2,1),
    transform .12s cubic-bezier(0,0,.2,1);
  visibility: visible;
}

.RoutineModal .content .close {
  font-size: 22px;
}

.RoutineModal .Fab.mdc-fab {
  position: absolute;
  right: 0;
  bottom: 0;
}

.RoutineModal .exercises .exercise-label, .RoutineModal .exercises h3 {
  border-bottom: 1px var(--main-border-color) solid;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.RoutineModal .exercises h3 {
  background: var(--main-bg-color);
}

.RoutineModal .description {
  box-sizing: border-box;
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  margin-top: 40px;
}

.RoutineModal .description .no-favorites-message {
  color: var(--main-txt-color);
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
}

.RoutineModal .description .link-favorites {
  color: var(--main-txt-color);
  border: 1px var(--tertiary-border-color) solid;
  padding: 10px;
  text-decoration: none;
}
