.Home {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.Home h1 {
  font-weight: 400;
  font-size: 32px;
}

.Home .header {
  display: grid;
  grid-template-columns: 150px repeat(3, 1fr);
  justify-items: center;
  align-items: end;
  text-align: center;
  border-bottom: 1px #9b9b9b solid;
  margin: 10px 0;
  padding-bottom: 5px;
}

.Home .header span {
  font-size: 14px;
}

.Home .header .unit {
  font-size: 10px;
  color: #9b9b9b;
}

.Home .muscle {
  display: inline-block;
  justify-self: left; 
  margin: 0;
}

.Home .group {
  margin-bottom: 30px;
}

.Home .workout {
  display: grid;
  grid-template-columns: 150px repeat(3, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  overflow-x: scroll;
  margin-bottom: 10px;
  font-size: 14px;
}

.Home .workout .type {
  justify-self: left;
}