.App {
  background: var(--main-bg-color);
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.App .container {
  background: var(--main-bg-color);
  margin-top: 65px;
  padding-bottom: 150px;
}

/* Apple Watch */
@media only screen and (max-width: 319px) {

  .App .container {
    margin: 0;
    padding-bottom: 30px;
  }

  .App .container .NavigationBar,
  .App .container .Footer,
  .App .container .RoutineModal {
    display: none;
  }
}