.Exercise {
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
}

.Exercise.workout-started,
.Exercise.editing {
  grid-template-columns: 0.5fr 2.5fr repeat(3, 1fr);
}

.Exercise.editing {
  grid-gap: 10px;
  margin-bottom: 5px;
  overflow-x: scroll;
}

.Exercise.editing .delete-button {
  padding: 0;
  background: var(--main-red-color);
  color: #fff;
}

.Exercise .name {
  justify-self: left;
  font-size: 14px;
  font-weight: 300;
}

/* Apple Watch */
@media only screen and (max-width: 319px) {

  .Routine .group .Exercise.workout-started {
    grid-template-columns: 18px 2fr repeat(3, 1fr);
  }

  .Routine .group .Exercise .name {
    font-size: 10px;
  }

  .Routine .group .Exercise .status-button {
    height: 18px;
    width: 18px;
  }
}