.Exercise {
  display: grid;
  grid-template-columns: 48px 150px repeat(3, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  font-size: 16px;
}

.Exercise.edit {
  grid-template-columns: repeat(2, 48px) 150px repeat(3, 1fr);
  margin-bottom: 5px;
  overflow-x: scroll;
}

.Exercise.edit .delete-button {
  padding: 0;
  background: #E53935;
  color: #fff;
}

.Exercise .status-button {
  padding: 0;
}

.Exercise .status-button.fill {
  color: #00897B;
}

.Exercise .name {
  justify-self: left;
}

.Metric {
  font-size: 16px;
  height: 30px;
  width: 40px;
  text-align: center;
  border: 0;
  outline: 0;
}

.edit .Metric {
  border-bottom: 0.5px solid #cecece;
  width: 32px;
}