.Exercise {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  font-size: 16px;
}

.Exercise.workout-started {
  grid-template-columns: 48px 155px repeat(3, 1fr);
}

.Exercise.editing {
  /* grid-template-columns: repeat(2, 48px) 155px repeat(3, 1fr); */
  grid-gap: 10px;
  margin-bottom: 5px;
  overflow-x: scroll;
}

.Exercise.editing .delete-button {
  padding: 0;
  background: #D32F2F;
  color: #fff;
}

.Exercise .status-button {
  padding: 0;
}

.Exercise .status-button.fill {
  color: #000;
}

.Exercise .name {
  justify-self: left;
}

.Exercise .status-button:disabled {
  opacity: 0.4;
}

/* Apple Watch */
@media only screen and (max-width: 319px) {

  .Routine .group .Exercise.workout-started {
    /* grid-template-columns: 48px 1fr repeat(3, 1fr); */
    grid-template-columns: 24px 1fr repeat(3, 20px);
  }

  .Routine .group .Exercise {
    grid-template-columns: 2fr repeat(3, 1fr);
  }

  .Routine .group .Exercise .name {
    font-size: 10px;
  }

  .Routine .group .Exercise input {
    font-size: 10px;
  }
}