.Footer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  width: 100%;
  height: 65px;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-items: center;
  border-top: 1px solid;
  border-color: lightgrey;
}

.Footer .footer-button {
  background: none;
  border: 0;
  display: grid;
  grid-gap: 5px;
  justify-items: center;
}

.Footer a {
  text-decoration: none;
}

.Footer .footer-button:focus {
  outline: 0;
}

.Footer .footer-text {
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.Footer .tab-icon {
  width: 18px;
  height: 18px;
}
