.Routine .success-banner {
  box-sizing: border-box;
  display: grid;
  position: fixed;
  align-items: center;
  justify-items: center;
  text-align: center;
  word-break: break-all;
  padding: 0 10px;
  overflow: hidden;
  background-color: var(--main-green-color);
  color: #000;
  font-weight: 400;
  font-size: 18px;
  transition: all 1s ease;
  top: 56px;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 4;
}

.Routine .routine-heading {
  align-items: center;
  margin-top: 30px;
}

.Routine .routine-heading .weekday {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 26px;
}

.Routine .routine-heading .subtitle {
  font-size: 14px;
  font-weight: 300;
  color: grey;
}

.Routine .header {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: end;
  text-align: center;
  border-bottom: 1px #ddd solid;
  margin: 10px 0;
  padding-bottom: 5px;
}

.Routine.workout-started .header {
  /* Add width of status button plus gap between button and name column */
  grid-template-columns: calc(155px + 48px + 5px) repeat(3, 1fr);
}

.Routine .workout-name {
  display: inline-block;
  justify-self: left;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.Routine .header span {
  font-size: 14px;
}

.Routine .group {
  margin-top: 30px;
}

.Routine .start-workout-button {
  color: #000;
  background: none;
  border: 1px #000 solid;
  font-size: 14px;
  padding: 10px;
  margin-top: 20px;
  text-decoration: none;
}

/* Apple Watch */
@media only screen and (max-width: 319px) {

  .Routine .routine-heading .weekday {
    font-size: 18px;
  }

  .Routine .start-workout-button {
    font-size: 12px;
  }

  /* .Routine.workout-started .header {
    grid-template-columns: 1fr repeat(3, 40px);
  } */

  .Routine .group .header {
    grid-template-columns: 1fr repeat(3, 30px);
  }

  .Routine .group .header .workout-name {
    font-size: 12px;
  }

  .Routine .group .header span {
    font-size: 10px;
  }
}