.Routine .success-banner {
  box-sizing: border-box;
  display: grid;
  position: fixed;
  align-items: center;
  justify-items: center;
  text-align: center;
  word-break: break-all;
  padding: 0 10px;
  overflow: hidden;
  background-color: #02ee7d;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  transition: all 1s ease;
  top: 56px;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 4;
}

.Routine .routine-heading {
  display: grid;
  align-items: center;
  margin-top: 20px;
}

.Routine .routine-heading .weekday {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
}

.Routine .header {
  display: grid;
  /* Add width of status button plus gap between button and name column */
  grid-template-columns: calc(150px + 48px + 5px) repeat(3, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: end;
  text-align: center;
  border-bottom: 1px #ddd solid;
  margin: 10px 0;
  padding-bottom: 5px;
}

.Routine .header span {
  font-size: 16px;
}

.Routine .workout-name {
  display: inline-block;
  justify-self: left; 
  margin: 0;
}

.Routine .group {
  margin-top: 30px;
}
