.Routine {
  opacity: 1;
  transition: opacity 0.4s ease-out;
  visibility: visible;
}

.Routine.hidden {
  opacity: 0;
  visibility: hidden;
}

.Routine .empty-routine-message {
  color: var(--main-txt-color);
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 50px;
}

.Routine .empty-routine-message a {
  color: var(--main-link-color);
  text-decoration: none;
}

.Routine .empty-routine-message a:visited {
  color: var(--main-link-color);
}

.Routine .success-banner {
  box-sizing: border-box;
  display: grid;
  position: fixed;
  align-items: center;
  justify-items: center;
  text-align: center;
  word-break: break-all;
  padding: 0 10px;
  overflow: hidden;
  background-color: var(--main-green-color);
  color: var(--main-txt-color);
  font-weight: 400;
  font-size: 18px;
  transition: all 1s ease;
  top: 56px;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 4;

}

.Routine .routine-heading {
  align-items: center;
  margin-top: 30px;
}

.Routine .routine-heading .weekday {
  color: var(--main-txt-color);
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: 600;
}

.Routine .routine-heading .subtitle {
  font-size: 16px;
  font-weight: 300;
  color: var(--secondary-txt-color);
}

.Routine .routine-heading .subtitle.hide {
  display: none;
}

.Routine .header {
  display: grid;
  /* grid-template-columns: 3fr repeat(3, 1fr); */
  grid-template-columns: 50% repeat(3, 1fr);
  /* grid-gap: 5px; */
  justify-items: center;
  align-items: end;
  text-align: center;
  border-bottom: 1px var(--secondary-border-color) solid;
  margin: 10px 0;
  padding-bottom: 5px;
}

.Routine.workout-started .header {
  /* grid-template-columns: calc(48px + 2fr) repeat(3, 1fr); */
}

.Routine .workout-name {
  color: var(--main-txt-color);
  justify-self: left;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.Routine .header span {
  color: var(--secondary-txt-color);
  font-size: 15px;
  font-weight: 400;
}

.Routine .group {
  margin-top: 30px;
}

.Routine .start-workout-button {
  color: var(--tertiary-txt-color);
  background: var(--tertiary-bg-color);
  border: 1px var(--tertiary-border-color) solid;
  font-size: 16px;
  margin-top: 20px;
  text-decoration: none;
  height: 45px;
  width: 150px;
}

.Routine .start-workout-button.hide {
  display: none;
}

.Routine .motivation-video {
  margin-bottom: 20px;
}

.Routine .motivation-video .embedded {
  margin-top: 10px;
  display: none;
}

.Routine .motivation-video .embedded.visible {
  display: block;
}

/* Apple Watch */
@media only screen and (max-width: 319px) {

  .Routine .routine-heading .weekday {
    font-size: 18px;
  }

  .Routine .start-workout-button {
    font-size: 12px;
    height: 40px;
    width: 110px;
  }

  .Routine .group .header {
    grid-template-columns: 3fr repeat(3, 1fr);
  }

  .Routine .group .header .workout-name {
    font-size: 12px;
  }

  .Routine .group .header span {
    font-size: 10px;
  }

  .Routine .motivation-links {
    display: none;
  }
}