.NavigationBar {
  align-items: center;
  background: #13131e;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  color: #58b6f4;
  display: grid;
  height: 56px;
  grid-template-columns: 150px 1fr;
  padding-left: 20px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 4;
}

.NavigationBar .title {
  font-size: 28px;
  font-weight: 300;
}

.top-app-bar__section--align-end {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 130px 50px;
  justify-self: end;
}

.top-app-bar__section--align-end button {
  background: none;
  border: none;
  padding: 0;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
