/* html {
  background: var(--main-bg-color);
} */

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

#root {
  height: 100%;
}

:root {
  --main-bg-color: #fafafa;
  --main-border-color: #e6e6e6;
  --main-link-color: rgb(29,124,228);
  --main-txt-color: #000;
  --main-red-color: #d32f2f;
  --main-green-color: #02ee7d;
  --secondary-txt-color: #757575;
  --secondary-bg-color: #fff;
  --secondary-border-color:rgba(0,0,0,.0975);
  --tertiary-txt-color: #fff;
  --tertiary-bg-color: #000;
  --tertiary-border-color: #000;
}

:root .dark {
  /* --main-bg-color: #000; */
  --main-bg-color: rgb(36,35,34);
  --main-border-color: #000;
  --main-link-color: rgb(29,124,228);
  --main-txt-color: #fff;
  --main-red-color: #d32f2f;
  --main-green-color: #02ee7d;
  --secondary-txt-color: #757575;
  /* --secondary-bg-color: rgba(20,20,20); */
  --secondary-bg-color: rgba(50,48,48);
  --secondary-border-color: #757575;
  --tertiary-txt-color: #fff;
  --tertiary-bg-color: rgb(85,85,85);
  --tertiary-border-color: rgb(85,85,85);
}
