html, body {
  height: 100%;
}

body {
  background: var(--main-bg-color);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

#root {
  height: 100%;
}

:root {
  --main-bg-color: #fafafa;
  --main-border-color: #e6e6e6;
  --main-link-color: rgb(29,124,228);
  --main-txt-color: #000;
  --main-fill-color: #000;
  --main-red-color: #d32f2f;
  --main-green-color: #02ee7d;
  --secondary-txt-color: #757575;
  --secondary-bg-color: #fff;
  --secondary-border-color:rgba(0,0,0,.0975);
  --tertiary-txt-color: #fff;
  --tertiary-bg-color: #000;
  --tertiary-border-color: #000;
}

:root .dark {
  --main-bg-color: rgb(36,35,34);
  --main-border-color: #000;
  --main-link-color: rgb(29,124,228);
  --main-txt-color: #fff;
  --main-fill-color: #76FF03;
  --main-red-color: #d32f2f;
  --main-green-color: #02ee7d;
  --secondary-txt-color: #757575;
  --secondary-bg-color: rgba(50,48,48);
  --secondary-border-color: #757575;
  --tertiary-txt-color: #fff;
  --tertiary-bg-color: rgb(85,85,85);
  --tertiary-border-color: rgb(85,85,85);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/material-design-icon-font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(fonts/material-design-icon-font/MaterialIcons-Regular.woff2) format('woff2'),
    url(fonts/material-design-icon-font/MaterialIcons-Regular.woff) format('woff'),
    url(fonts/material-design-icon-font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}