.Metrics {
  display: grid;
  justify-items: center;
}

.Metrics.with-units {
  grid-template-columns: 2fr 1fr;
  grid-gap: 3px;
  justify-items: start;
}

.Metrics.with-units input {
  text-align: end;
  /* width: 35px; */
}

.Metrics input {
  background: var(--main-bg-color);
  font-size: 15px;
  width: 100%;
  text-align: center;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

.Metrics .metric-unit {
  color: var(--secondary-txt-color);
  font-size: 12px;
  padding-top: 4px;
}

.editing .Metrics input {
  border-bottom: 0.5px solid #000;
  height: 30px;
  width: 32px;
}

/* Apple Watch */
@media only screen and (max-width: 319px) {

  .Metrics.with-units {
    grid-template-columns: 1fr;
  }

  .Metrics input {
    font-size: 10px;
  }

  .Metrics .metric-unit {
    display: none;
    /* font-size: 8px; */
  }
}
